html {
  height: 100%;
  width: 100%;
}

.lagosta_head{
  text-shadow:
1px 1px 1px black;color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lagosta_style{
  display: flex;
  flex-direction: column;
  align-items: center;
}